.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img {
    min-height: 100%;
    width: 100%;
}
.gamer_table {
   height: 780px;
   width: 900px;
   background-color: rgba(255,255,255,0.3);
}
.gamer_scroll_bar{
    
}
.aime_table {
   height: 100px;
   width: 350px;
   background-color: rgba(255, 255, 255, 0.3);
   text-align: center;
   position: absolute;
   top : 5%;
   bottom: 0%;
   right: 0%;
   left: 80%;
   box-shadow: 10px 8px 5px lightgray;
}
